<div class="pagination-card">
  <div class="total-records">
    @if(cursorMode){ Cursor pagination } @else { Total: {{ totalRecords }} }
  </div>

  <div class="pagination-controls">
    <button type="button" (click)="previous.emit()" [disabled]="page === 1">Previous</button>

    <span>
      @if(cursorMode){ Page {{ page }} } @else { Page {{ page }} of {{ totalPages }} }
    </span>

    <button
      type="button"
      (click)="next.emit()"
      [disabled]="cursorMode ? !hasNextPage : page === totalPages"
    >
      Next
    </button>

    @if(showPageSize){

    <select [value]="limit" (change)="changePageSize($event)">
      <option value="10">10</option>

      <option value="20">20</option>

      <option value="50">50</option>
    </select>

    }
  </div>
</div>
