<div class="pagination-wrapper">
  <div class="pagination-info">
    Page {{ pagination.page }} of {{ pagination.totalPages }}
    <span>{{ pagination.totalRecords }} total {{ totalLabel }}</span>
  </div>

  <div class="pagination-actions">
    <select
      *ngIf="showPageSize"
      [value]="pagination.limit"
      (change)="onLimitChange($event)"
    >
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>

    <button
      type="button"
      (click)="pagePrevious.emit()"
      [disabled]="!pagination.hasPreviousPage"
    >
      Previous
    </button>

    <button
      type="button"
      (click)="pageNext.emit()"
      [disabled]="!pagination.hasNextPage"
    >
      Next
    </button>
  </div>
</div>
