<div class="global-toast-wrapper"></div>
<div class="dashboard-shell">
  <!-- Sidebar -->

  <aside class="sidebar glass">
    <!-- Logo -->

    <div class="logo-section">
      <div class="logo-circle">B</div>

      <div>
        <h2>BootStrap HMS</h2>

        <p>Smart Healthcare</p>
      </div>
    </div>

    @if( authService.currentUser | async; as user ){

    <!-- Profile -->

    <div class="profile-card">
      <div class="avatar">{{ user.email ?.charAt(0) ?.toUpperCase() }}</div>

      <div>
        <h4>{{ user.roles?.[0] }}</h4>

        <span>{{ user.email }}</span>
      </div>
    </div>

    <!-- Navigation -->
<nav class="nav-links">
  @for (
    node of authService.nodes | async;
    track node._id
  ) {

  <a
    [routerLink]="node.path"
    routerLinkActive="active-link"
  >
    <span>
      {{ node.icon }}
    </span>

    {{ node.name }}
  </a>

  }
</nav>

    }
  </aside>

  <!-- Main Content -->

  <main class="main-content">
    <!-- Topbar -->

    <header class="topbar glass">
      <div>
        <h1>BootStrap HMS</h1>

        <p>Modern Hospital Workspace</p>
      </div>

      @if( authService.currentUser | async; as user ){

      <div class="topbar-right">
        <!-- System Status -->

        <div class="system-status">
          <div class="status-dot"></div>

          <span id="active">System Active</span>
        </div>

        <!-- Profile -->

        <div
          class="top-profile"
          (click)=" toggleProfile();

                  $event.stopPropagation()
                  "
        >
          <!-- Avatar -->

          <div class="top-avatar">{{ user?.email ?.charAt(0) ?.toUpperCase() }}</div>

          <!-- Info -->

          <div class="top-user-info">
            <h4>{{ user?.employeeId?.name || 'User' }}</h4>

            <p>{{ user?.roles?.[0] }}</p>
          </div>

          <!-- Dropdown -->

          @if(isProfileOpen){

          <div class="profile-dropdown">
            <a routerLink="/my-profile">My Profile</a>

            <button (click)="logout()">Logout</button>
          </div>

          }
        </div>
      </div>

      }
    </header>

    <!-- Routed Content -->

    <section class="page-content fade-in">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
